.hero-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem 2rem;
  border: 3px solid #712121;
    border-radius: 20px;
}

.hero-section h1 {
  font-size: 3.5rem;
  color: #000;
  margin-bottom: 1rem;
}

.hero-section p {
  font-size: 1.6rem;
  color:rgb(27 24 25);;
  font-weight: 700;
  margin-bottom: 2rem;
}

.start-button {
  padding: 0.75rem 5rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 700;
}

.start-button:hover {
  background-color: #0056b3;
  color: #fff;
}

@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section p {
    font-size: 1rem;
  }
}
.hero-section button{
  background: linear-gradient(135deg, #060505, #8b2261); /* Gradient background */
    color: white; /* Text color */
    border: none; /* Remove default border */
    padding: 12px 30px; /* Inside spacing */
    font-size: 18px; /* Font size */
    font-weight: bold; /* Make text bold */
    text-transform: uppercase; /* Uppercase text */
    border-radius: 30px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
    transition: all 0.3s ease-in-out; /* Smooth transition */
    box-shadow: 0px 5px 15px rgba(255, 107, 107, 0.4); /* Soft shadow */
    outline: none; /* Remove outline */
    display: inline-block;
    letter-spacing: 1px;
}