.upload-resume {
  max-width: 300px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-resume h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.upload-resume input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.upload-resume button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}